/* Whole page styling */
body {
    margin: 15px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(206, 175, 137);
}

/* Header and Nav Section */
header h1{
    font-size: xx-large;
    animation: expandContract 4s infinite
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

button{
    font-family: "Oswald", sans-serif;
    font-size: large;

}

#dropdown{
    display: none;
}

#dropdown.show{
    display: block;
}

nav a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: black;
    padding-right: 20px;
}

/* Introduction */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Breathing Section */

.breathing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: expandContract 4s 1; 
}

iframe{
    width: 350px; 
    height: 250px;
}

/* Posture Section */
.postures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yoga-postures{
    display: flex;
    gap: 25px;
    text-align: center;
}

/* Chakras */
.chakra-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 12px;
    gap: 5px;
}

.chakra-item{
    background-color: grey;
    padding: 10px;
    text-align: center;
    border-radius: 30%;
}

.chakra-description{
    font-size: medium;
}

/* Footer Section */
footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: black;
}

/* About Page */
.about-content{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#author-info{
    width: 15%;
}

.about-content img{
    border-radius: 100%;
}

/* Quiz Page */
.chakra-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quizBox{
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    border-radius: 49%;
    width: 320px;
    height: 320px;
}

/* Form Page */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend{
    font-size: larger;
}

#form-intro{
    font-size: x-large;
}

.button{
    margin-top: 7px;
    font-family: "Oswald", sans-serif;
    font-size: medium;
}

/* Animations and Transitions */
/* Breath Animation */
@keyframes expandContract{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1);
    }
}